<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<noscript>
    <b>Note: </b> javascript is disabled, please click the button below to proceed
</noscript>
One moment please...

{{ form(form) }}
<script type="application/javascript">
    document.getElementById("submit").click();
</script>
</body>
</html>